.steps {
    overflow: hidden;
}

.steps .row {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: ridge 1px #000000;
}

.steps em,
.error {
    display: block;
    font-weight: bold;
    font-size: 3em;
    text-shadow: -1px -1px 1px #000000, 1px 1px #999999;
    opacity: 0.4;
    -webkit-text-fill-color: transparent;
    min-width: 1em;
}

.steps p {
    margin: 0;
    font-size: 1em;
}

.steps p:has(img) {
    text-align: center;
}

span.viewer {
    display: inline-block;
    height: 100px;
    padding: 3px;
    border: 1px solid (0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em #000;
    margin: 0.5em;
}

span.viewer>label {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

span.viewer>label:hover {
    opacity: 0.5;
}

span.viewer>label>input[type="checkbox"] {
    display: none;
}

span.viewer>label>img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

span.viewer:has(input[type="checkbox"]:checked) {
    border-color: transparent;
    box-shadow: none;
    padding: 0;
}

span.viewer>label:has(input[type="checkbox"]:checked) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.viewer>label>input[type="checkbox"]:checked+img {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 80%;
}

a.small-link {
    font-size: small;
}

a[href^="https://twitter.com/intent/tweet"][target="xpost"] {
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    font-size: small;
}

a[href^="https://twitter.com/intent/tweet"][target="xpost"]:before {
    content: "";
    display: inline-block;
    line-height: 0;
    width: 0.8em;
    height: 0.8em;
    background: url(/img/common/logo-x.png) no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 0.25em;
    vertical-align: baseline;
}

a[href^="https://twitter.com/intent/tweet"][target="xpost"]:hover {
    background: black;
    transition: 0.3s ease;
}

[data-x="tags"] {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    border: solid 1px #111111;
    line-height: 1.5em;
    padding:0 0.5em;
}

[data-x="tags"].open {
    padding: 0.5em;
    grid-template-rows: 1fr;
}

[data-x="tags"]>* {
    overflow-y: hidden;
}

[data-x="tags"] .tag {
    margin: 0.25em 0.5em 0.25em 0;
    float: left;
}

[data-x="tags"]:has(.newline input:checked) .tag,
[data-x="tags"]:has(.newline input:checked) span.add-new {
    clear: left;
}

[data-x="tags"] .tag:last-of-type {
    margin-right: 1em;
}

[data-x="tags"] input[type="button"].remove {
    font-size: x-small;
    margin-left: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
}

[data-x="tags"] input[type="button"].remove:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

[data-x="tags"] span.add-new {
    float: left;
}

[data-x="tags"] span.add-new input {
    font-size: x-small;
    line-height: 1.2em;
}

[data-x="tags"] .newline {
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-x="tags"] .newline label {
    display: inline-block;
    font-size: x-small;
    background-color: rgba(0, 0, 0, 0.75);
    border:#111111 solid 1px;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    transition: 0.3s ease;
    white-space: nowrap;
}

[data-x="tags"] .newline label:has(input[type="checkbox"]:checked) {
    background-color: #444444;
    border-color: #333333;
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
}

[data-x="tags"] .newline label:hover {
    cursor: pointer;
}

[data-x="tags"] .newline input {
    display: none;
}

[data-x="controller"] .counter {
    float: left;
    margin-left: 0.5em;
}